/* ------------------------------------
    viriables:
-------------------------------------- */
// color scheme : https://visme.co/blog/website-color-schemes/

// colors:
$brand-red: red;
$brand-baige: #d9b08c;

$c-error: $brand-red;

// margins
$l-margin: 60px;
$m-margin: 40px;
$s-margin: 20px;

// paddings
$l-padding: 60px;
$m-padding: 40px;
$s-padding: 20px;
